# Tgbot
TgBotToken: 969298533:AAHl23gBrKsgcNC2xQJb2iyyMbvvDLr9FLs
TgBotUserName: TechcatBot

# Pixiv
pixiv: 
  Username: abserari
  Password: 5Ek8ZQf4Z4vEp2U
  Cookies: 38448763_xzUGIUnmDwHQkGzanCoAXROOrN6G7JWR

