# Telegram app from my.telegram.org
TgAppID: 11111
TgAppHash: dsafds
TgTestServer : 149.154.167.40:443
TgProdServer: 149.154.167.50:443

# Tgbot
TgBotToken: 12:asdf
TgBotUserName: asdf

hobbies:
- skateboarding
- snowboarding
- go
clothing:
  jacket: leather
  trousers: denim